.menu-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;


}

.menu-menu {
    display: flex;
    padding: 32px o;
    justify-content: center;
    align-items: center;
    gap: 72px;

}





.nav-menu {
    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 24.3px */




}


.logo {
    display: flex;
    width: 1400px;
    height: 552px;

}

.photo {

    background-color: #00BDC9;
    width: 599px;
    height: 368px;
    flex-shrink: 0;
    display: flex;
    padding: 92px 400px 92px 401px;
    justify-content: center;
    align-items: center
}

.logo-text {
    color: #FAFAFA;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: calc(115% * 55.2px);



}

.div-container {
    display: flex;

    flex-direction: column;
    align-items: center;



}

.text-div {
    width: 856px;

    color: #161616;

    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(150% * 31.5px)
        /* 31.5px */
}



.content-div {
    display: flex;

    flex-direction: column;
    align-items: center;
    width: 856px;
    padding-bottom: 88px 0;


}

.title {

    align-self: stretch;
    color: #000;
    padding: 88px 0 40px;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(135% * 64.8px)
}

.artical-text {
    color: #161616;

    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(150% * 31.5px)
        /* 31.5px */

}

.text-p {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

}

.text {
    padding: 10px;

}



.artical {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 856px;
    height: 351px;


}




.artical-text {

    width: 856px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(150% * 27px)
        /* 27px */
}



.botton-div {
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
}


.botton {

    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #04959E;
}

.footer-div {
    display: flex;

    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 16px 0px;


}

.footer {
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(150% * 27px);
    display: flex;
    padding: 16px 0px;

}